<div class="container">
  <div class="emotion-selector">
    <h4 class="text-center">Como você está se sentindo hoje?</h4>
    <div class="btn-group" role="group">
      <button *ngFor="let emotion of emotions" 
              class="btn {{ emotion.name.toLowerCase() }}"
              [ngClass]="{'selected': selectedEmotion === emotion.emoji}" 
              (click)="selectEmotion(emotion.emoji)">
        {{ emotion.emoji }}
      </button>
    </div>
  </div>
</div>

<app-modal-editor 
  [isOpen]="isModalOpen" 
  [selectedEmotion]="selectedEmotion"
  (closeModal)="closeModal()"
  (noteSaved)="saveNote()">
</app-modal-editor>