:host {
  display: block;
  height: 100vh; 
  background: linear-gradient(45deg, #fcdcec, #fcfab5); 
  background-size: 200% 200%; 
  position: relative; 
  animation: waveColors 5s ease infinite; 
}

.container {
  position: relative; 
  z-index: 1; 
  padding: 20px; 
}

.btn-link {
  color: #c37cc4;
}

@keyframes waveColors {
  0% {
    background-position: 0% 50%; 
  }
  100% {
    background-position: 100% 50%; 
  }
}