<div class="container d-flex flex-column justify-content-start align-items-center min-vh-100">
  <app-logo-auth></app-logo-auth>
  <div class="col-12 col-md-6">
    <ng-container *ngIf="showOnboarding; else authTemplate">
      <app-onboarding (close)="closeOnboarding()"></app-onboarding>
    </ng-container>

    <ng-template #authTemplate>
      <router-outlet></router-outlet> 

      <div class="text-center mt-3">
        <button (click)="goToRegister()" class="btn btn-link"> 
          {{ showLogin ? 'Criar uma conta' : 'Já tenho uma conta' }} 
        </button>
      </div>
    </ng-template>
  </div>
</div>