<nav class="navbar fixed-bottom navbar-light bg-light shadow-sm">
    <div class="container-fluid justify-content-around">
        <a class="nav-icon" [routerLink]="isLoggedIn ? ['/home'] : ['/']">
            <mat-icon>home</mat-icon>
        </a>
        <a class="nav-icon" [routerLink]="['/calendar']">
            <mat-icon>calendar_month</mat-icon>
        </a>
        <a class="nav-icon add-icon" [routerLink]="['/emotion-audio']"> 
            <mat-icon>mic</mat-icon> 
        </a>
        <a class="nav-icon" [routerLink]="['/self-reflection']">
            <mat-icon>assignment</mat-icon>
        </a>
        <a class="nav-icon" [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
        </a>
    </div>
</nav>