<nav class="navbar fixed-bottom navbar-light bg-light shadow-sm">
    <div class="container-fluid justify-content-around">
        <a class="nav-icon" href="/">
            <mat-icon>home</mat-icon>
        </a>
        <a class="nav-icon" href="/stats">
            <mat-icon>bar_chart</mat-icon>
        </a>
        <a class="nav-icon add-icon" href="/add">
            <mat-icon>add</mat-icon>
        </a>
        <a class="nav-icon" href="/notes">
            <mat-icon>note</mat-icon>
        </a>
        <a class="nav-icon" href="/settings">
            <mat-icon>settings</mat-icon>
        </a>
    </div>
  </nav>