:host {
  display: block;
}

.num-pad {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    button {
      margin: 0 5px;
      width: 50px;
      height: 50px;
      font-size: 1rem;
    }
  }
}

.container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
}

.form-group label {
  color: #555; 
}

.form-control {
  padding: 10px; 
}

.form-group {
  margin-bottom: 1rem; 
}

.btn-primary {
  background-color:   #1DE15C; 
  border-color: #1DE15C; 
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #0daf41; 
    border-color: #0daf41; 
    transform: scale(1.05); 
  }
}
.full-width {
  width: 100%; 
}

.progress {
  height: 5px;
}

.progress-bar {
  transition: width 0.3s ease; 
}

@media (max-width: 576px) {
  .container {
    padding: 15px; 
  }
}