.container {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; 
  border: 1px solid #77777723;
  padding: 20px; 
}

.note-list {
  margin-top: 10px;

  h4 {
    margin-bottom: 20px;
  }

  .accordion-item {
    margin-bottom: 10px;
    cursor: pointer; 

    .accordion-header {
      background-color: #c07ec6; 
      color: #fff; 
      padding: 8px; 
      border-radius: 8px; 
      transition: background-color 0.3s;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #914a97; 
      }
    }

    .arrow {
      margin-left: auto;
      font-size: 1.2rem; 
      transition: transform 0.3s; 

      &.open {
        transform: rotate(180deg); 
      }
    }

    .accordion-body {
      background-color: #fff;
      border: 1px solid #77777723; 
      border-radius: 8px;
      color: #333; 
      padding: 20px 0px 40px 15px; 
      max-height: 0; 
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;

      &.open {
        max-height: 200px; 
        padding: 10px; 
      }
    }
  }
}