<div class="note-list">
  <h4>Notas do Dia</h4>
  <div *ngFor="let note of notes" class="accordion-item">
    <div class="accordion-header" (click)="note.isOpen = !note.isOpen">
      <strong>{{ note.time }}</strong>
      <span class="emoji">{{ note.emoji }}</span> 
      <span class="arrow" [ngClass]="{'open': note.isOpen}">{{ note.isOpen ? '▲' : '▼' }}</span>
    </div>
    <div class="accordion-body" *ngIf="note.isOpen">
      {{ note.emotion }}: {{ note.content }}
    </div>
  </div>
</div>