<div class="container">

  <div class="progress">
    <div class="progress-bar" [style.width]="(currentStep / totalSteps) * 100 + '%'" role="progressbar"></div>
  </div>

  <div *ngIf="currentStep === 1">

    <h2 class="text-center mt-2 mb-4">Comece sua jornada com <span style="color: #c37cc4;">Insight</span><br> seu Planner de Emoções</h2>

    <p class="text-center">Este aplicativo foi desenvolvido para ajudá-lo a monitorar suas emoções diárias e refletir sobre suas vivências.<br><br> Vamos dar o primeiro passo em direção ao seu autoconhecimento e bem-estar!</p>
    <button (click)="nextStep()" class="btn btn-primary full-width mt-3">Próximo</button>
  </div>

  <div *ngIf="currentStep === 2">

    <h2 class="text-center mt-2 mb-4">Explore suas emoções com <span style="color: #c37cc4;">Insight</span><br> seu Planner de Emoções</h2>

    <p class="text-center">Aqui, você pode registrar suas emoções diárias de forma simples. Selecione como se sente e adicione notas para compreender melhor suas experiências. <br><br>Cada entrada é um passo em direção ao seu bem-estar!</p>
    <button (click)="nextStep()" class="btn btn-primary full-width mt-3">Próximo</button>
  </div>

  <div *ngIf="currentStep === 3">
    
    <h2 class="text-center mt-2 mb-4">Reflexão e Crescimento com <span style="color: #c37cc4;">Insight</span><br> seu Planner de Emoções</h2>

    <p class="text-center">Participe de perguntas que o ajudarão a refletir sobre suas emoções e experiências.<br><br> Essa prática pode aumentar sua consciência emocional e promover um crescimento pessoal significativo.</p>
    <button (click)="nextStep()" class="btn btn-primary full-width mt-3">Concluir</button>
  </div>
</div>