<app-header></app-header>
<div class="container">
  <h2 class="text-center">Bem Vinda <span style="color: #D81B60;">Tailiny</span></h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <app-calendar (dateSelected)="onDateSelected($event)"></app-calendar>
    </div>
    <div class="col-12 col-md-6">
      <app-emotion-selector (emotionSelected)="onEmotionSelected($event)"></app-emotion-selector>
      <app-note-editor [(noteContent)]="noteContent" (save)="saveNote()"></app-note-editor>
      <app-note-list [notes]="notes"></app-note-list>
    </div>
  </div>
</div>