<div class="container">
  <div class="emotion-selector">
    <h4 class="text-center">Como você descreveria seu estado de espírito nesse momento?</h4>
    <div class="btn-group" role="group">
      <button *ngFor="let emotion of emotions" 
      class="btn {{ emotion.name.toLowerCase() }}"
      [ngClass]="{'selected': selectedEmotion === emotion.name}" 
      (click)="selectEmotion(emotion.name)"> 
{{ emotion.emoji }}
</button>
    </div>
  </div>
</div>

<app-modal-editor 
  [isOpen]="isModalOpen" 
  [selectedEmotion]="selectedEmotion"
  [selectedEmoji]="selectedEmoji"
  (closeModal)="closeModal()"
  (noteSaved)="saveNote($event)">
</app-modal-editor>