:host {
  display: block;
}

.container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
}

.form-group label {
  color: #555; 
}

.form-control {
  padding: 10px; 
  font-size: 1.5rem; 
  letter-spacing: 0.1em; 
}

.btn-primary {
  background-color: #FFEA28; 
  border-color: #FFEA28; 
  color: #000;
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #FFD600; 
    border-color: #FFD600; 
  }
}

.full-width {
  width: 100%; 
}

@media (max-width: 576px) {
  .container {
    padding: 15px; 
  }
}