<div class="calendar">
    <div class="header">
      <button (click)="previousMonth()">Anterior</button>
      <h3>{{ formattedDate }}</h3>
      <button (click)="nextMonth()">Próximo</button>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let day of days" (click)="selectDate(day)">
        <div class="day" [ngClass]="{'selected': selectedDate && day.toDateString() === selectedDate.toDateString()}">
          <span>{{ day.getDate() }}</span>
          <span *ngIf="getEmotionForDate(day)" class="emotion-icon">{{ getEmotionForDate(day) }}</span>
        </div>
      </div>
    </div>
  </div>