<app-header-top></app-header-top>
<div class="emotion-note-container">
  <h2 class="primary text-center mb-2">SOS</h2>
    <h2 class="text-center mb-3">Emergência Emocional</h2>
    <p class="text-center">
      Bem-vindo à Emergência Emocional. Aqui, seus pensamentos e sentimentos em momentos de crise estão totalmente seguros.<br><br>
       Quando precisar de um espaço para desabafar ou expressar o que está sentindo, este é o lugar ideal. Considere-o como um refúgio. <br><br><span style="font-weight: bold;">Escreva ou grave um áudio livremente, sem preocupações com erros ou julgamentos.</span>
    </p>
    <app-emotion-selector (emotionSelected)="onEmotionSelected($event)"></app-emotion-selector>
    <app-note-audio 
      [(noteContent)]="noteContent" 
      >
    </app-note-audio>
  </div>
  <app-header></app-header>