<div class="emotion-note-container">
    <h2 class="text-center mb-3">Vamos compartilhar sua emoção atual <span style="color: #D81B60;">Tailiny!</span></h2>
    <p class="text-center">
        Use o botão abaixo para gravar sua voz e expressar como você se sente. 
        Fale sobre suas emoções, experiências do dia ou qualquer coisa que esteja em sua mente.<br><br>
        Após a gravação, suas palavras serão transcritas e salvas como uma nota emocional.
    </p>
    <app-emotion-selector (emotionSelected)="onEmotionSelected($event)"></app-emotion-selector>
    <app-note-audio 
      [(noteContent)]="noteContent" 
      (noteSaved)="saveNote()">
    </app-note-audio>
  </div>
  <app-header></app-header>