<app-header-top></app-header-top>

<div class="self-reflection-container container mt-4">  
  <div class="chat-container mb-4">
    <ng-container *ngFor="let message of chatMessages">
      <div class="chat-message question">
        <strong>Pergunta:</strong> {{ message.question }}
      </div>
      <div class="chat-message answer">
        <strong>Resposta:</strong> {{ message.answer }}
      </div>
    </ng-container>
    
    <ng-container *ngIf="isTyping">
      <div class="chat-message typing">Digitando...</div>
    </ng-container>

    <ng-container *ngIf="!isLastQuestion && !isTyping">
      <div class="chat-message question">
        <strong>Pergunta:</strong> {{ questions[currentQuestionIndex] }}
      </div>
    </ng-container>
    
    <ng-template #finalResponseTemplate>
      <h2 class="text-center">Resposta Final</h2>
      <p class="text-center">{{ finalResponse }}</p>
    </ng-template>

    <!-- Input container deve estar aqui -->
    <div class="input-container">
      <textarea [(ngModel)]="userAnswer" class="form-control" placeholder="Sua resposta..."></textarea>
      <button class="btn btn-success" (click)="handleAnswer(userAnswer)">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
<app-header></app-header>