<div class="self-reflection-container container mt-4">
  <h2 class="text-center mb-3">Reflexões Pessoais</h2>
  <p class="text-center mb-4">
    Reserve um momento para se aprofundar em suas experiências e emoções. Responda às perguntas abaixo para explorar seus pensamentos e sentimentos. <br><br>A auto-reflexão é uma ferramenta poderosa para o crescimento pessoal e para entender melhor a si mesmo. Suas respostas ajudarão a traçar um caminho para o autoconhecimento e a melhoria contínua."

  </p>
  <app-progress-bar [current]="currentQuestionIndex + 1" [total]="questions.length"></app-progress-bar>
  
  <ng-container *ngIf="!isLastQuestion; else finalResponseTemplate">
    <app-question 
      [question]="questions[currentQuestionIndex]" 
      (onAnswer)="handleAnswer($event)">
    </app-question>
  </ng-container>

  <ng-template #finalResponseTemplate>
    <h2 class="text-center">Resposta Final</h2>
    <div class="emoji-container text-center">
      <span class="emoji">😊</span> 
    </div>
    <p class="text-center">{{ finalResponse }}</p>
  </ng-template>
</div>
<app-header></app-header>
