.self-reflection-container {
  height: calc(100vh - 100px); 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  display: flex;
  padding-bottom: 50px; 
  flex-direction: column; 
}

.chat-container {
  flex: 1; 
  max-height: 100%; 
  overflow-y: auto;
  border: 1px solid #c07ec6;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; 

  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    position: relative;

    &.question {
      background-color: #e9ecef;
      align-self: flex-start; 
    }

    &.answer {
      background-color: #c07ec6;
      color: #fff;
      align-self: flex-end; 
    }

    &.typing {
      font-style: italic;
      color: #888;
      text-align: center;
    }
  }

  .input-container {
    display: flex;
    align-items: center; 
    margin-top: auto;
    padding: 10px; 
  
    textarea {
      flex: 1; 
      height: 40px; 
      margin-right: 10px; 
      border-radius: 20px;
      padding: 10px; 
      border: 1px solid #c07ec6;
      resize: none; 
    }
  
    button {
      border-radius: 20px; 
      display: flex;
      align-items: center; 
      border-color: #C07EC6;
      background-color: #c07ec6; 
      color: #fff;
    }
  }
}