body {
    font-family: 'Lora', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    color: #333;
  }

  h3 {
    font: 300 1.20rem / 1.60rem Lora, serif;
  }